microservices/.vagrant
microservices/mv-kubernetes-vagrant-install-centos/.vagrant
microservices/mv-kubernetes-vagrant-install-ubuntu/.vagrant
microservices/vagrant-box-ubuntu2204-minikube-1.5.0-20240320/.vagrant
monolit/lamp/Vagrant/.vagrant
microservices/mv-kubernetes-vagrant-install-ubuntu/data
